 @model Amazon_Montecastelo.Database.Models.Carrito

@{
    ViewData["Title"] = "Carrito";

}

<h1>Carrito</h1>


<table class="table">
    <thead>
        <tr>
      
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>PrecioUnitario</th>
            <th>PrecioTotal</th>
            <th></th>
      
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Detalles)
        {
            <tr>
                <td scope="row">@item.Producto.Nombre</td>
                <td scope="row"> @item.Cantidad</td>
                <td scope="row">@item.PrecioUnitario</td>
                <td scope="row">@item.PrecioTotal</td>

                <td scope="row">
                    <div class="button-container">
                        <form action="@Url.Action("EliminarDelCarrito", "Usuario", new { productoId = item.ProductoID })" method="post">
                            <input type="hidden" name="id" />
                            <button type="submit" class="btn btn-outline-primary btn-smaller">Eliminar</button>
                        </form>
                    </div>
                </td>
               
            </tr>
        }
    </tbody>
</table>
<a asp-action="Pedidos" asp-controller="Usuario">

</a>
 