 @model Amazon_Montecastelo.Database.Models.Carrito

@{
    ViewData["Title"] = "Carrito";
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

}

<h1>Carrito</h1>


<table class="table">
    <thead>
        <tr>
      
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>PrecioUnitario</th>
            <th>PrecioTotal</th>
            <th></th>
            <th></th>
      
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Detalles)
        {
         
            <tr>
                <td scope="row">@item.Producto.Nombre</td>
                <td>
                   

                        <span>@item.Cantidad</span>

                       
                  </td>
                <td scope="row">@item.PrecioUnitario</td>

                <td scope="row">@item.PrecioTotal</td>
              
                <td scope="row">
                   
                        <form action="@Url.Action("EliminarDelCarrito", "Amazon", new { productoId = item.ProductoID })" method="post">
                            <input type="hidden" name="id" />

                        <button type="submit" style="width:100px" class="btn btn-primary btn-smaller">Eliminar</button>
                        </form>

                </td>
                <td scope="row">
                        <form action="@Url.Action("AgregarAlCarrito", "Amazon", new { productoId = item.ProductoID })" method="post">
                        <button style="width:50px ;" type="submit" class="btn   btn-primary btn-smaller" name="accion" value="incrementar">+</button>
                        <button style="width:50px;" type="submit" class="btn  btn-primary  btn-smaller" name="accion" value="decrementar">-</button>
                        </form>

                </td>
               
            </tr>
       
        }
     
    </tbody>
 
</table>



<div class="container text-center">
    <div class=" align-items-center">
        <div class="col">
            <h4>Subtotal: @Model.Subtotal €</h4>

        </div>

    </div>

    @if (Model.Detalles.Any())
    {
        <form action="@Url.Action("AgregarAlaVenta", "Amazon", new { productoId = Model.Detalles.First().ProductoID  })" method="post">
            <input type="hidden" name="productoId" value="@Model.Detalles.First().ProductoID" />
            <input type="hidden" name="accion" value="tramitarPedido" />
            <button type="submit" style="width:350px" class="btn btn-primary btn-smaller">
                Tramitar pedido (@Model.CantidaProducto) producto
            </button>
        </form>
    }
    else
    {
        <div class=" d-inline-block" style="font-size:20px ">
          
            <i class="fa-solid fa-basket-shopping"></i> Carrito Vacio
        </div>
       
    }

</div>




 