 @model IEnumerable<Amazon_Montecastelo.Database.Models.Productos>


@{
    ViewData["Title"] = "Lista de Productos";

}

<h1>GetProducto</h1>

<table class="table">
    <thead>

        <tr>
            <th>ID</th>
            <th>Descripcion</th>
            <th>Nombre</th>
            <th>Precio</th>
          
            <th></th>
        </tr>


    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
       
       
       
                <td>
                  
                    <form action="@Url.Action("AgregarAlCarrito", "Amazon", new { productoId = item.ProductoID })" method="post">
                        <input type="hidden" name="productoId" value="@item.ProductoID" />               
                        <button type="submit" class="btn btn-outline-primary btn-smaller">Añadir al carrito</button>
                    </form>
                    @*  <form action="@Url.Action("AgregarAlCarrito", "Usuario", new { id = item.ProductoID })" method="get">
                <input type="hidden" name="usuarioId" value="[usuarioId]" />
                <input type="hidden" name="productoId" value="[productoId]" />
                <input type="number" name="cantidad" value="1" />

                <button type="submit" class="btn btn-outline-primary btn-smaller">Añadir al carrito</button>
                </form> *@
                </td>
            </tr>
        }
    </tbody>

</table>
 