@using LoboGarcesWindarTarea3;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Amazon_Montecastelo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Amazon_Montecastelo.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />


</head>


<body>
    <header id="adminHeader">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
          <!-- Navbar-->
          
            <ul class="navbar">
                @if (GlobalInfo.UsuarioLogeado.userType == "administrador")
                {
                    <li class="nav-item">
                        <a class="navbar-brand" href="@Url.Action("Producto", "Amazon")"><i class="fa-solid fa-shop"></i></a>
                </li>
            }
            else{
                <li class="nav-item">
                        <a class="navbar-brand" href="@Url.Action("ProductoUsuario", "Amazon")"><i class="fa-solid fa-shop"></i></a>
                </li>
                <li class="nav-item">
                        <a class="navbar-brand" href="@Url.Action("Carrito", "Amazon")">
                      
                            <i class="fa fa-cart-shopping"></i>
                       
                    </a>
                </li>
                <li class="nav-item">
                        <a class="navbar-brand" href="@Url.Action("Venta", "Amazon")"><i class="fa fa-light fa-bag-shopping"></i></a>
                </li>
                }
            </ul>
            <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-sign-in"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="@Url.Action("SignOff","Login")">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
         
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/scripts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
