
@model IEnumerable<Pactica5.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Logueate";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />


}



<html>
<body>
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-5 col-md-8 col-sm-12 my-5">

                <div class="card border-3 rounded-lg mt-3">

                    <div class="card-header"><h2 class="text-center font-weight-light my-4"> Iniciar sesion</h2></div>

                    <div class=" card-body">
                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <p style="color: red;">@ViewBag.ErrorMessage</p>
                        }
                        <form id="loginForm" action="@Url.Action("DoLogin", "Login")" method="post">

                            <div class="card-header2 form-floating  mb-3">
                                <input class="form-control" id="inputEmail" name="Email" type="Email" placeholder="Correo electrónico" />
                                <label class="usuario" for="inputEmail">Correo electrónico</label>
                            </div>

                            <div class="card-header3 form-floating  mb-3">
                                <input class="form-control" id="inputpassword" name="password" type="password" placeholder="Contraseña" />
                                <label class="usuario2" for="password">Contraseña</label>
                            </div>

                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button type="submit" class="btn btn-primary mx-auto">Iniciar Sesión</button>
                            </div>

                        </form>

                        <div class="card-footer text-center py-3">
                            <div class="">
                                ¿No tienes cuenta? <a href="@Url.Action("Agregar", "Login")">Regístrate</a>
                            </div>
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

    <script>
        // Asegúrate de incluir jQuery en tu proyecto

        // Evento de cambio en el select
        $('#userType').change(function () {
            var userType = $(this).val(); // Obtén el valor seleccionado

            // Redirige según el tipo de usuario
            if (userType === 'administrador') {
                window.location.href = '@Url.Action("Producto", "Administrador")';
            } else {
                window.location.href = '@Url.Action("ProductoUsuario", "Usuario")';
            }
        });
    </script>
</body>

</html> 