@model Pactica5.DataBase.Models.Carrito

@{
    ViewData["Title"] = "Carrito";
}

<h1>Carrito</h1>


<div class="container-fluid ">
    <div class="row">
        <div class="col-md-9 text-center">
            <h1>Carrito</h1>


        </div>
        <div class="col mt-5">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Detalles.First().Producto.Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.Detalles.First().Cantidad)</th>
                        <th>@Html.DisplayNameFor(model => model.Detalles.First().PrecioUnitario)</th>
                        <th>@Html.DisplayNameFor(model => model.Detalles.First().PrecioTotal)</th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.Detalles)
                    {

                        <tr>


                            <td>@Html.DisplayFor(modelItem => item.Producto.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                            <td>@Html.DisplayFor(modelItem => item.PrecioUnitario)</td>
                            <td>@Html.DisplayFor(modelItem => item.PrecioTotal)</td>



                            <td>

                                <form action="@Url.Action("EliminarProductodelCarrito", "Producto", new { productoId = item.ProductoID })" method="post">
                                    <input type="hidden" name="id" />
                                    <button type="submit" style="width:100px" class="btn btn-outline-primary btn-smaller">Eliminar</button>
                                </form>

                            </td>
                            <td>
                                <form action="@Url.Action("AgregarAlCarrito", "Producto", new { productoId = item.ProductoID })" method="post">
                                    <button style="width:50px ;" type="submit" class="btn   btn-primary btn-smaller" name="accion" value="incrementar">+</button>
                                    <button style="width:50px;" type="submit" class="btn  btn-primary  btn-smaller" name="accion" value="decrementar">-</button>
                                </form>

                            </td>

                        </tr>

                    }

                </tbody>

            </table>


            <div class="row justify-content-center text-center ">

                <h4>Subtotal: @Model.Subtotal €</h4>




                @if (Model.Detalles.Any())
                {
                    <form action="@Url.Action("AgregarAlaVenta", "Producto", new { productoId = Model.Detalles.First().ProductoID  })" method="post">
                        <input type="hidden" name="productoId" value="@Model.Detalles.First().ProductoID" />
                        <input type="hidden" name="accion" value="tramitarPedido" />
                        <button type="submit" style="width:350px" class="btn btn-outline-primary btn-smaller">
                            Tramitar pedido (@Model.CantidaProducto) producto
                        </button>
                    </form>
                }
                else
                {
                    <div class=" d-inline-block" style="font-size:20px ">

                        <i class="fa-solid fa-basket-shopping"></i> Carrito Vacio
                    </div>

                }

            </div>

        </div>
    </div>
</div>