<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Boletin_Ejercicio_5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Boletin_Ejercicio_5.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="adminHeader">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

            <ul class="navbar">
                 @if (GlobalInfo.UsuarioLogeado.userType == "admin")
                {
                    <li class="nav-item">
                        <a class="navbar-brand" href="@Url.Action("ListaFabricante", "Fabricante")">ListaFabricante</a>
                    </li>

                    <li class="nav-item">
                        <a class="navbar-brand" href="@Url.Action("Index", "Fabricante")">Index</a>

                    </li>
                }

               else {
                
                
                <li class="nav-item">
                    <a class="navbar-brand" href="@Url.Action("ListaProducto", "Fabricante")">Lista Producto</a>
                </li>

                <li class="nav-item">
                    <a class="navbar-brand" href="@Url.Action("listaCarrito", "Fabricante")">Carrito</a>
                </li>
                    

                }
                   
            </ul>
            <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-sign-in"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="@Url.Action("SignOff","Usuario")">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Boletin_Ejercicio_5 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
