@model Amazon_Montecastelo.Database.Models.Venta

@{
    ViewData["Title"] = "Carrito";

}

<h1>Carrito</h1>
@if (Model != null)
{
    <p>Cantidad de elementos en el carrito: @Model.Detalles.Count</p>
}

<table class="table">
    <thead>
        <tr>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>PrecioUnitario</th>
            <th>PrecioTotal</th>
        </tr>

    <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Detalles)
        {
            <tr>
                <td>
                    <p>Producto: @item.Producto.Nombre</p>
                    <p>Cantidad: @item.Cantidad</p>
                    <p>Precio Unitario: @item.PrecioUnitario</p>
                    <p>Precio Total: @item.PrecioTotal</p>
                </td>



                <td>
                    <a class="btn btn-outline-danger" asp-action="Carrito" asp-controller="Usuario" asp-route-ProductoID="@item.ProductoID">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Pedidos" asp-controller="Usuario">

</a>
