@model LoboGarcesWindarTarea4.Models.SimularCombateViewModel

@{
    ViewData["Title"] = "LucharConMiEquipo";
    <link rel="stylesheet" href="~/css/ombate.css" asp-append-version="true" />

    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@600&family=Fjalla+One&display=swap" rel="stylesheet">

}

@{
    // Definir un diccionario de colores para los tipos de Pokémon
    Dictionary<string, string> coloresPorTipo = new Dictionary<string, string>
                        {
                        { "Fuego", "#F28723" },
                        { "Veneno", "#9B82AA" },
                        { "Agua", "#72C1EB" },
                        { "Planta", "#3AB27B" },
                        { "Eléctrico", "#FFD700" },
                        { "Roca", "#8E8651" },
                        {"Normal","#999C9E"},
                        {"Bicho","#66AD71"},
                        {"Psíquico","#C462DE"},
                        {"Lucha","#B66341"},
                        {"Hielo","#B0FAF0"},
                        {"Fantasma","#86578B"},
                        };
}

@if (Model.ConMiEquipo)
{
    <h3 class="text-center" style="font-family: 'Cormorant', serif; font-size:40px">Combate con mi equipo</h3>
}
else
{
    <h3 class="text-center" style="font-family: 'Cormorant', serif; font-size:40px">Combate aleatoria</h3>
}


<div class="container ColorTable rounded-3">
    <h3 class="text-center mt-5" style="font-family: 'EB Garamond', serif; font-size:30px">Equipo1</h3>

    <div class="row flex-wrap mt-3">
        @foreach (var equipo2 in Model.Batalla.Equipo1.Pokemons)
        {
            string rutaImagenEquipo2 = $"/img/{equipo2.PokemonId}.png";

            <!-- Ajusta el valor de mb-3 según sea necesario -->
            <div class="col d-flex flex-column align-items-center">
                <a href="@Url.Action("Detalle", new { numero_Pokedex = equipo2.PokemonId})">
                    <img src="@rutaImagenEquipo2" alt="Imagen de la evolución" class="img-fluid" style="width:150px;" />
                </a>

                <div class="mt-2 text-center">
                    <p>
                        @Html.DisplayFor(modelItem => equipo2.NombrePokemon)
                        N.º&nbsp;@Html.DisplayFor(modelItem => equipo2.PokemonId)
                    </p>


                </div>

            </div>


        }
    </div>
</div>

<div class="container ColorTable rounded-3">
    <h3 class="text-center mt-5" style="font-family: 'EB Garamond', serif; font-size:30px">Equipo2</h3>

    <div class="row flex-wrap mt-3">
        @foreach (var equipo1 in Model.Batalla.Equipo2.Pokemons)
        {
            string rutaImagenEquipo1 = $"/img/{equipo1.PokemonId}.png";

            <!-- Ajusta el valor de mb-3 según sea necesario -->
            <div class="col d-flex flex-column align-items-center">

                <a href="@Url.Action("Detalle", new { numero_Pokedex = equipo1.PokemonId})">

                    <img src="@rutaImagenEquipo1" alt="Imagen de la evolución" class="img-fluid" style="width:150px;" />

                </a>
                <div class="mt-2 text-center">
                    <p>
                        @Html.DisplayFor(modelItem => equipo1.NombrePokemon)
                        N.º&nbsp;@Html.DisplayFor(modelItem => equipo1.PokemonId)
                    </p>

                </div>
            </div>

        }
    </div>
</div>



<!-- Ajusta el valor de mb-3 según sea necesario -->



<div class="container ColorTable rounded-3 mt-5">
    <h3 class="text-center" style="font-family: 'Cormorant', serif; font-size:40px">Batalla</h3>

    @foreach (var combate in Model.Batalla.Combates)
    {

        <h3> Combate:  </h3>

        string rutaImagenEquipo1 = $"/img/{combate.Pokemon1.PokemonId}.png";

        string rutaImagenEquipo2 = $"/img/{combate.Pokemon2.PokemonId}.png";

        <div class="col d-flex flex-column align-items-center">

            <div class="row">

                <div class="col">

                    <img src="@rutaImagenEquipo1" alt="Imagen batalla" class="img-fluid" style="width:180px;" />

                    <p>

                        @Html.DisplayFor(modelItem => combate.Pokemon1.NombrePokemon)

                        N.º&nbsp;@Html.DisplayFor(modelItem => combate.Pokemon1.PokemonId)

                    </p>

                </div>


                <div class="col text-center ">

                    <h1>  Vs</h1>

                </div>

                <div class="col">

                    <img src="@rutaImagenEquipo2" alt="Imagen batalla" class="img-fluid" style="width:180px;" />



                    <p>
                        @Html.DisplayFor(modelItem => combate.Pokemon2.NombrePokemon)
                        N.º&nbsp;@Html.DisplayFor(modelItem => combate.Pokemon2.PokemonId)
                    </p>
                </div>

            </div>
            <h6 class="mt-2 text-danger font-italic">Ganador: @combate.Ganador.Pokemon.NombrePokemon - @combate.Ganador.Motivo</h6>

        </div>

    }
</div>




