@model LoboGarcesWindarTarea4.DataBase.Modelo.PokemonFull

@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetPokemonById</h1>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PokemonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePokemon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombrePokemon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Evoluciones.First().Nivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Evoluciones.First().Nivel)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Evoluciones.First().Piedra)

        </dt>
        <dd class="col-sm-10">
        @if (Model.Evoluciones.First().Piedra != null && Model.Evoluciones.First().Piedra.Any())
        {
          
                @Html.DisplayFor(model =>model.Evoluciones.First().Piedra)

         
        }
        else
            {
                <p>No tiene </p>
            }
        </dd>
           </dl>
</div>
<h1>Estadisticas_base</h1>

<table class="table">
    <thead>
        <tr>
        <th >
             @Html.DisplayNameFor(model => model.Estadisticas.First().Ps)
            
        </th>
            <th>
                 @Html.DisplayNameFor(model => model.Estadisticas.First().Ataque)
       
        </th>
      
        <th >
            @Html.DisplayNameFor(model =>model.Estadisticas.First().Defensa)
        </th>
         <th >
            @Html.DisplayNameFor(model =>model.Estadisticas.First().Especial)
        </th>
        <th >
            @Html.DisplayNameFor(model =>model.Estadisticas.First().Velocidad)
        </th>
               </tr>
    </thead>
    <tbody>
        @if (Model.Estadisticas != null)
        {
            @foreach (var item in Model.Estadisticas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ps)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ataque)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Defensa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Especial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Velocidad)
                    </td>
                   

                </tr>
               
            }
        }
        </tbody>
 </table>
 

<div class="col-sm-2">

    <h1>@Html.DisplayNameFor(model => model.FlujoEvolucion)</h1>
    @foreach (var item in Model.FlujoEvolucion)
    {
        @if (item.Pokemon != null)
        {
            @Html.DisplayFor(modelItem => item.Pokemon.NombrePokemon)
            <br />
        }


    }
</div>
<div class="col-sm-2">
    <h1>@Html.DisplayNameFor(model => model.FlujoInvolucion)</h1>

    @foreach (var item in Model.FlujoInvolucion)
    {
        @if (Model.FlujoInvolucion != null && Model.FlujoInvolucion.Any())
        {
            @Html.DisplayFor(modelItem => item.Pokemon.NombrePokemon)

            <br/>
        }
        else
        {
            <p>No tiene Involucion</p>
        }

    }
   <h1>Tipo</h1>
  
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AllTipos)
    </dd>

</div>
<h1>Movimiento</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ataques.First().TipoAtaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ataques.First().NombreAtaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ataques.First().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ataques.First().Potencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ataques.First().Precision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ataques.First().Pp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ataques.First().Prioridad)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ataques)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoAtaque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreAtaque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Potencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prioridad)
                </td>

            </tr>
        }
    </tbody>
</table>

