@model LoboGarcesWindarTarea4.DataBase.Modelo.PokemonFull

@{
    ViewData["Title"] = "Detalle";

    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
}
<div class="container-fluid">
    <div class="row">
        <div class="col mt-5">
            <form action="@Url.Action("ListaDePokemon","Pokemon")" method="get">
                <button type="submit" class="btn btn-outline-primary">Ir a la lista</button>
            </form>

        </div>
        <div class="container text-center" style="font-family: 'EB Garamond', serif; font-size:40px">

            <span>

                @Html.DisplayFor(model => model.NombrePokemon)

            </span>

            <span class="pokemon-number">N.º&nbsp; @Html.DisplayFor(model => model.PokemonId)</span>

        </div>
    </div>

    @{
        string rutaImagen = $"/img/{Model.PokemonId}.png";
    }


    <div class="row mt-5 ">
        <div class="col-md-6 ms-5">
            <img src="@rutaImagen" style="width: 70%" />
        </div>
        <div class="col-md-3 mt-5">
            <table class="ColorTablaDetalle table table-borderless  text-center  ms-8 rounded-3">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Altura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Evoluciones.First().Nivel)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                            <p>@Html.DisplayFor(model => model.Altura) m</p>

                        </td>
                        <td>

                            @if (Model.Evoluciones.First().Nivel != null && Model.Evoluciones.First().Nivel.Any())
                            {

                                @Html.DisplayFor(model =>model.Evoluciones.First().Nivel)


                            }
                            else
                            {
                                <p>No tiene Nivel </p>
                            }

                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Peso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Evoluciones.First().Piedra)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>@Html.DisplayFor(model => model.Peso) Kg</p>
                        </td>
                        <td>
                            @if (Model.Evoluciones.First().Piedra != null && Model.Evoluciones.First().Piedra.Any())
                            {

                                @Html.DisplayFor(model =>model.Evoluciones.First().Piedra)


                            }
                            else
                            {
                                <p>No tiene </p>
                            }
                        </td>

                        @{
                            // Definir un diccionario de colores para los tipos de Pokémon
                            Dictionary<string, string> coloresPorTipo = new Dictionary<string, string>
                        {
                        { "Fuego", "#F28723" },
                        { "Veneno", "#9B82AA" },
                        { "Agua", "#72C1EB" },
                        { "Planta", "#3AB27B" },
                        { "Eléctrico", "#FFD700" },
                        { "Roca", "#8E8651" },
                        {"Normal","#999C9E"},
                        {"Bicho","#66AD71"},
                        {"Psíquico","#C462DE"},
                        {"Lucha","#B66341"},
                        {"Hielo","#B0FAF0"},
                        {"Fantasma","#86578B"},
                        };
                        }
                    </tr>
                </tbody>
            </table>

            <div class="row gx-5 mt-5 ">
                <h3 style="font-family: 'EB Garamond', serif;  font-size:38px">Tipo</h3>
                @foreach (var tipo in Model.Tipos)
                {
                    <div class="col col-5 d-inline-block mx-2 mb-3 rounded"
                         style="@(tipo.TipoNombre == "Volador" ? "background: linear-gradient(to bottom, #87CEEB 60%, #B6B6B6 40%);"
                         : (tipo.TipoNombre == "Tierra" ? "background: linear-gradient(to bottom, #CBBA0C 50%, #A39E6C 50%);"
                         : (tipo.TipoNombre == "Dragón" ? "background: linear-gradient(to bottom, #F63950 50%, #609FEA 50%);" : "background-color: " + (coloresPorTipo.ContainsKey(tipo.TipoNombre) ? coloresPorTipo[tipo.TipoNombre] : "#FFFFFF") + ";")))">
                        <div class="p-1 ">@Html.DisplayFor(modelItem => tipo.TipoNombre)</div>
                    </div>
                }
            </div>


        </div>
    </div>

    <div class="mt-5">
        <span style=" font-family: 'EB Garamond', serif; font-size:40px">Estadisticas_base</span>

        <table class="table table-borderless ">
            <thead>

                <tr>

                    <th style="font-family: 'EB Garamond', serif;  font-size:20px">

                        @Html.DisplayNameFor(model => model.Estadisticas.First().Ps)
                    </th>
                    <th style="font-family: 'EB Garamond', serif;  font-size:20px">
                        @Html.DisplayNameFor(model => model.Estadisticas.First().Ataque)
                    </th>
                    <th style="font-family: 'EB Garamond', serif;  font-size:20px">
                        @Html.DisplayNameFor(model => model.Estadisticas.First().Defensa)
                    </th>
                    <th style="font-family: 'EB Garamond', serif;  font-size:20px">
                        @Html.DisplayNameFor(model => model.Estadisticas.First().Especial)
                    </th>
                    <th style="font-family: 'EB Garamond', serif;  font-size:20px">
                        @Html.DisplayNameFor(model => model.Estadisticas.First().Velocidad)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Estadisticas != null)
                {
                    @foreach (var item in Model.Estadisticas)
                    {
                        <tr>
                            <td>
                                <div class="progress" style="width:10rem;" role="progressbar" aria-label="Ps" aria-valuenow="@item.Ps" aria-valuemin="0" aria-valuemax="100">

                                    <div class="progress-bar" style="width: @item.Ps%; height: 100%;">@Html.DisplayFor(modelItem => item.Ps)%</div>
                                </div>

                            </td>

                            <td>
                                <div class="progress" style="width:10rem;" role="progressbar" aria-label="Ataque" aria-valuenow="@item.Ataque" aria-valuemin="0" aria-valuemax="100">

                                    <div class="progress-bar" style="width: @item.Ataque%; height: 100%;">@Html.DisplayFor(modelItem => item.Ataque)%</div>
                                </div>

                            </td>
                            <td>
                                <div class="progress" style="width:10rem;" role="progressbar" aria-label="Defensa" aria-valuenow="@item.Defensa" aria-valuemin="0" aria-valuemax="100">

                                    <div class="progress-bar" style="width: @item.Defensa%; height: 100%;">@Html.DisplayFor(modelItem => item.Defensa)%</div>
                                </div>

                            </td>
                            <td>
                                <div class="progress" style="width:10rem;" role="progressbar" aria-label="Especial" aria-valuenow="@item.Especial" aria-valuemin="0" aria-valuemax="100">

                                    <div class="progress-bar" style="width: @item.Especial%; height: 100%;">@Html.DisplayFor(modelItem => item.Especial)%</div>
                                </div>

                            </td>
                            <td>
                                <div class="progress" style="width:10rem;" role="progressbar" aria-label="Velocidad" aria-valuenow="@item.Velocidad" aria-valuemin="0" aria-valuemax="100">

                                    <div class="progress-bar" style="width: @item.Velocidad%; height: 100%;">@Html.DisplayFor(modelItem => item.Velocidad)%</div>
                                </div>

                            </td>


                        </tr>

                    }
                }

            </tbody>

        </table>
    </div>


    <div class="ColorTable  text-center ms-8 rounded-3">

        <h1 style="font-family: 'EB Garamond', serif;">Evoluciones</h1>
        <div class="d-inline p-2 d-flex justify-content-evenly">

            @foreach (var involuciones in Model.FlujoInvolucion.OrderBy(i => i.Pokemon.PokemonId))
            {
                string rutaImagen3 = $"/img/{involuciones.Pokemon.PokemonId}.png";

                @if (Model.FlujoInvolucion != null && Model.FlujoInvolucion.Any())
                {
                    <div class="d-flex flex-column align-items-center">
                        <img src="@rutaImagen3" alt="Imagen de la evolución" style="width:150px; margin-right: 55px;" />

                        <div class="mt-2 text-center">

                            @Html.DisplayFor(modelItem => involuciones.Pokemon.NombrePokemon)

                            N.º&nbsp;@Html.DisplayFor(modelItem => involuciones.Pokemon.PokemonId)


                        </div>

                        <div class="row row-cols-auto">
                            @foreach (var tipo in Model.Tipos)
                            {
                                <div class="col  d-inline-block mx-2 mb-3 rounded"
                                     style="@(tipo.TipoNombre == "Volador" ? "background: linear-gradient(to bottom, #87CEEB 60%, #B6B6B6 40%);"
                      : (tipo.TipoNombre == "Tierra" ? "background: linear-gradient(to bottom, #CBBA0C 50%, #A39E6C 50%);"
                      : (tipo.TipoNombre == "Dragón" ? "background: linear-gradient(to bottom, #F63950 50%, #609FEA 50%);" : "background-color: " + (coloresPorTipo.ContainsKey(tipo.TipoNombre) ? coloresPorTipo[tipo.TipoNombre] : "#FFFFFF") + ";")))">
                                    <div class="p-1 ">@Html.DisplayFor(modelItem => tipo.TipoNombre)</div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="ml-3">
                        <span class="material material-symbols-outlined" style="font-size: 55px;">
                            arrow_forward_ios
                        </span>

                    </div>

                }
                else
                {
                    <p>No tiene Involucion</p>
                }


            }

            @{
                string rutaImagen1 = $"/img/{Model.PokemonId}.png";
            }
            <div class="d-flex flex-column align-items-center">
                <img src="@rutaImagen1" alt="Imagen de la evolución" style="width:150px; margin-right: 55px;" />
                <div class="mt-2 text-center">

                    @Html.DisplayFor(modelItem => Model.NombrePokemon)

                    N.º&nbsp; @Html.DisplayFor(modelItem => Model.PokemonId)


                </div>
                <div class="row row-cols-auto">
                    @foreach (var tipo in Model.Tipos)
                    {
                        <div class="col d-inline-block mx-2 mb-3 rounded"
                             style="@(tipo.TipoNombre == "Volador" ? "background: linear-gradient(to bottom, #87CEEB 60%, #B6B6B6 40%);"
                      : (tipo.TipoNombre == "Tierra" ? "background: linear-gradient(to bottom, #CBBA0C 50%, #A39E6C 50%);"
                      : (tipo.TipoNombre == "Dragón" ? "background: linear-gradient(to bottom, #F63950 50%, #609FEA 50%);" : "background-color: " + (coloresPorTipo.ContainsKey(tipo.TipoNombre) ? coloresPorTipo[tipo.TipoNombre] : "#FFFFFF") + ";")))">
                            <div class="p-1 ">@Html.DisplayFor(modelItem => tipo.TipoNombre)</div>
                        </div>
                    }
                </div>
            </div>

            <div class="ml-3">
                <span class="material material-symbols-outlined" style="font-size: 55px;">
                    arrow_forward_ios
                </span>

            </div>

            @foreach (var evoluciones in Model.FlujoEvolucion)
            {

                @if (evoluciones.Pokemon != null)
                {
                    string rutaImagen2 = $"/img/{evoluciones.Pokemon.PokemonId}.png";
                    <div class="d-flex flex-column align-items-center">
                        <img src="@rutaImagen2" alt="Imagen de la evolución" style="width:150px; margin-right: 55px;" />

                        <div class="mt-2 text-center">

                            @Html.DisplayFor(modelItem => evoluciones.Pokemon.NombrePokemon)
                            N.º&nbsp; @Html.DisplayFor(modelItem =>evoluciones.Pokemon.PokemonId)


                        </div>

                        <div class="row row-cols-auto">
                            @foreach (var tipo in Model.Tipos)
                            {
                                <div class="col d-inline-block mx-2 mb-3 rounded"
                                     style="@(tipo.TipoNombre == "Volador" ? "background: linear-gradient(to bottom, #87CEEB 60%, #B6B6B6 40%);"
                      : (tipo.TipoNombre == "Tierra" ? "background: linear-gradient(to bottom, #CBBA0C 50%, #A39E6C 50%);"
                      : (tipo.TipoNombre == "Dragón" ? "background: linear-gradient(to bottom, #F63950 50%, #609FEA 50%);" : "background-color: " + (coloresPorTipo.ContainsKey(tipo.TipoNombre) ? coloresPorTipo[tipo.TipoNombre] : "#FFFFFF") + ";")))">
                                    <div class="p-1">@Html.DisplayFor(modelItem =>tipo.TipoNombre)</div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="ml-3">
                        <span class="material material-symbols-outlined" style="font-size: 55px;">
                            arrow_forward_ios
                        </span>

                    </div>
                }

            }

        </div>
    </div>


    <div class="ColorTable  text-center ms-8 rounded-3 mt-5">

        <h1 style="font-family: 'EB Garamond', serif;">Movimientos</h1>

        <table class="table table-hover table-striped mt-5 ">

            <thead>
                <tr style="font-family: 'EB Garamond', serif;  font-size:20px">
                    <th>

                        @Html.DisplayNameFor(model => model.Ataques.First().TipoAtaque)
                    </th>
                    <th>

                        @Html.DisplayNameFor(model => model.Ataques.First().NombreAtaque)
                    </th>
                    <th>

                        @Html.DisplayNameFor(model => model.Ataques.First().Descripcion)
                    </th>
                    <th>

                        @Html.DisplayNameFor(model => model.Ataques.First().Potencia)
                    </th>
                    <th>

                        @Html.DisplayNameFor(model => model.Ataques.First().Precision)
                    </th>
                    <th style="font-family: 'EB Garamond', serif;  font-size:20px">

                        @Html.DisplayNameFor(model => model.Ataques.First().Pp)
                    </th>
                    <th>

                        @Html.DisplayNameFor(model => model.Ataques.First().Prioridad)
                    </th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model.Ataques)
                {
                    <tr style="font-size:18px">

                        <td>
                            @Html.DisplayFor(modelItem => item.TipoAtaque)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreAtaque)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Potencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precision)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prioridad)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

