@model IEnumerable<LoboGarcesWindarTarea4.DataBase.Dbo.EvolucionDbo>

@{
    ViewData["Title"] = "Evolucion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Evolucion</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PokemonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PokemonNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEvolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Piedra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PokemonId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PokemonNombre)
                </td>
                <td>
                    @if (item.TipoEvolucion != null)
                    {
                        @Html.DisplayFor(modelItem => item.TipoEvolucion)
                    }
                    else
                    {
                        <p>No tiene tipo de evolución</p>
                    }
                </td>
                <td>
                    @if (item.Nivel != null)
                    {
                        @Html.DisplayFor(modelItem => item.Nivel)
                    }
                    else
                    {
                        <p>No tiene nivel de evolución</p>
                    }
                </td>
                <td>
                    @if (item.Piedra != null && item.Piedra.Any())
                    {
                        @Html.DisplayFor(modelItem => item.Piedra)
                    }
                    else
                    {
                        <p>No tiene piedra</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
