@model IEnumerable<LoboGarcesWindarTarea4.Models.EvolucionViewModel>


<table class="table">
    <thead>
        <tr>
            <th>
                Numero_Origen
            </th>
            <th>
              Nombre_Origen
            </th>
            <th>
           Numero_Destino
            </th>
            <th>
               Nombre_Destino
            </th>
            <th>
               Nivel_evolucion
            </th>
            <th>
                Tipo_Evolucion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero_Origen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Origen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero_Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel_evolucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_Evolucion)
                </td>


            </tr>
        }
    </tbody>
</table>

