@model IEnumerable<LoboGarcesWindarTarea4.DataBase.Dbo.TipoDbo>

@{
    ViewData["Title"] = "FiltrarPokemones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FiltrarPokemones</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PokemonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePokemon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPokemon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PokemonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePokemon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPokemon)
            </td>
            
        </tr>
}
    </tbody>
</table>
