@model IEnumerable<LoboGarcesWindarTarea4.DataBase.Dbo.PokemonDbo>

@{
    ViewData["Title"] = "ListaDePokemon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListaDePokemon</h1>

<form asp-controller="Pokemon" asp-action="FiltrarPokemones" method="get">
    <p>
        Tipo: <input type="text" name="SearchString" />
        <input type="submit" value="buscar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numero_Pokedex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.numero_Pokedex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
              
                <td>
                    @Html.ActionLink("Detalle", "GetById", new { numero_Pokedex = item.numero_Pokedex  }) |
                    @Html.ActionLink("Evolucion", "Evolucion", new { numero_Pokedex = item.numero_Pokedex  }) |
                    @Html.ActionLink("Movimientos", "Movimiento", new {numero_Pokedex = item.numero_Pokedex})
                    
                </td>
            </tr>
        }
    </tbody>

</table>
<script>
    function FiltrarPokemones() {
        var inputNombreTipo = document.getElementById('textNombreTipo').value.toLowerCase();

        // Redirige a la acción del controlador con el parámetro tipo
        window.location.href = '/Pokemon/FiltrarPokemones?tipo=' + inputNombreTipo;
    }
</script>