@model LoboGarcesWindarTarea4.Models.PokemonViewModel

@{
    ViewData["Title"] = "ListaDePokemon";

    <link rel="stylesheet" href="~/css/Lista.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous" />
}
<html>
 <body>

<h1>ListaDePokemon</h1>



<div class="container mt-5 ">
    <form asp-action="FiltrarPokemon" asp-route-numero_Pokedex="@Model.Pokemons.First().PokemonId" method="post">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col">

                <select class="form-select" aria-label="Tipo de Pokémon" id="tipoPokemon" name="tipo">
                    <option selected>Selecciona un tipo</option>
                    @foreach (var tipo in Model.Tipos)
                    {
                        <option value="@tipo.TipoId">@tipo.TipoNombre</option>
                    }
                </select>

            </div>

            <div class="col">
                <select class="form-select" aria-label="Peso de Pokémon" id="pesoPokemon" name="peso">
                    <option selected>Selecciona un peso</option>
                    @foreach (var peso in Model.Pokemons)
                    {
                        <option value="@peso.Peso">@peso.Peso</option>
                    }
                </select>
            </div>
            <div class="col">
                <select class="form-select" aria-label="Altura de Pokémon" id="alturaPokemon" name="altura">
                    <option selected>Selecciona una altura</option>
                    @foreach (var altura in Model.Pokemons)
                    {
                        <option value="@altura.Altura">@altura.Altura</option>
                    }
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>
</div>




@if (TempData["MensajeExito"] != null)
{
    <div id="mensaje-exito" class="alert alert-success">@TempData["MensajeExito"]</div>

}

@if (TempData["MensajeError"] != null)
{
    <div id="mensaje-error" class="alert alert-danger">@TempData["MensajeError"]</div>
}

<div class="col mt-5">
    <table class="table table-primary table-striped table-hover">
    <thead>
        <tr>
            <th>
                Imagen
            </th>

            <th>
                    PokémonId
            </th>
            <th>
                    Pokémon
            </th>
            <th>
                Tipo1 Tipo2
            </th>
            <th>
                Peso
            </th>
            <th>
                Altura
            </th>
            <th></th>
            <th></th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Pokemons)
                {
                    var pokemonImagePath = $"img\\{item}.png";
            <tr>
                <td>

                            <img src="@pokemonImagePath" style="width:100px" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PokemonId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePokemon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllTipos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Altura)
                </td>
                <td>
                    @Html.ActionLink("Detalle", "Detalle", new { numero_Pokedex = item.PokemonId  })
                </td>


                <td>
                    <form asp-action="AgregarAlEquipo" asp-route-numero_Pokedex="@item.PokemonId" method="post">

                            <button type="submit" class="btn btn-primary">Añadir a Mi Equipo</button>
                        

                    </form>

                </td>

            </tr>
        }

    </tbody>
</table>
</div>



<script>
    // Agrega un script para ocultar los mensajes después de un segundo
    setTimeout(function () {
        $("#mensaje-exito, #mensaje-error").fadeOut(1000);
    }, 1000);
</script>
</body>
</html>
