@model LoboGarcesWindarTarea4.Models.ListaPokemonViewModel

@{
    ViewData["Title"] = "ListaDePokemon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListaDePokemon</h1>



<form id="FiltrarPokemon" action="@Url.Action("FiltrarPokemon", "Pokemon")" method="post">


    <label for="textAltura">Altura:</label>
    <input type="text" id="textAltura" name="Altura" />

    <label for="textPeso">Peso:</label>
    <input type="text" id="textPeso" name="Peso" />

    <select class="form-select" aria-label="Tipo de Pokémon" id="tipoPokemon" name="tipo">
        <option selected>Selecciona un tipo</option>
        @foreach (var tipo in Model.Tipos)
        {
            <option value="@tipo.TipoId">@tipo.TipoNombre</option>
        }
    </select>

    <button type="submit" class="btn btn-primary">Buscar</button>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                PokemonId
            </th>
            <th>
                NombrePokemon
            </th>
            <th>
                Tipo
            </th>
            <th>
                Peso
            </th>
            <th>
                Altura
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pokemons)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PokemonId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePokemon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllTipos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Altura)
                </td>
                <td>
                    @Html.ActionLink("Detalle", "Detalle", new { numero_Pokedex = item.PokemonId  }) |
                    @Html.ActionLink("Evolucion", "Evolucion", new { numero_Pokedex = item.PokemonId  }) |
                    @Html.ActionLink("Movimientos", "Movimiento", new {numero_Pokedex = item.PokemonId})

                </td>
            </tr>
        }
    </tbody>
</table>

