@model IEnumerable<LoboGarcesWindarTarea4.DataBase.Modelo.Movimiento>

@{
    ViewData["Title"] = "Movimiento";
}

<h1>VerMovimiento</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_movimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.potencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precion_mov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prioridad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_movimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.potencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precion_mov)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prioridad)
                </td>

            </tr>
        }
    </tbody>
</table>