@model IEnumerable<LoboGarcesWindarTarea4.DataBase.Modelo.Ataque>

@{
    ViewData["Title"] = "Movimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movimiento</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPokemon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Tipo_Ataque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAtaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAtaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Potencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoPokemon)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ID_Tipo_Ataque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoAtaque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreAtaque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Potencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prioridad)
                </td>

            </tr>
        }
    </tbody>
</table>
